<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>
<target includeMode="feature" name="jbtcentral-4.28.0.AM1-SNAPSHOT">
  <!-- Pro tip: paste content from generated Apache directory index, then match
        \[ ] (.+)_(.+).jar.+
    replace with 
      <unit id="\1.feature.group" version="\2"/>
  -->
  <locations>

    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="https://checkstyle.org/eclipse-cs-update-site/"/>
      <unit id="net.sf.eclipsecs.feature.group" version="10.5.0.202303231944"/>
      <unit id="wrapped.org.dom4j.dom4j" version="2.1.3"/>
      <unit id="org.yaml.snakeyaml" version="1.33.0"/>
      <unit id="wrapped.org.jfree.jfreechart" version="1.0.19"/>
      <unit id="wrapped.org.jfree.jcommon" version="1.0.23"/>
      <unit id="wrapped.org.jfree.jfreechart-swt" version="1.0.0"/>
      <unit id="wrapped.org.jfree.swtgraphics2d" version="1.1.0"/>
    </location>

    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="https://sevntu-checkstyle.github.io/sevntu.checkstyle/update-site/"/>
      <unit id="com.github.sevntu.checkstyle.checks.feature.feature.group" version="1.44.1"/>
    </location>

    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="https://eclipse-uc.sonarlint.org/"/>
      <unit id="org.sonarlint.eclipse.feature.feature.group" version="7.9.0.66038"/>
    </location>

    <!-- required for SpringIDE (see also above) -->
    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="https://download.springsource.com/release/TOOLS/sts4/update/e4.27"/>
      <!-- Features to include in Central connector -->
      <unit id="org.springframework.boot.ide.main.feature.feature.group" version="4.18.0.202303131455"/>
      <unit id="org.springframework.ide.eclipse.boot.dash.feature.feature.group" version="4.18.0.202303131455"/>
      <unit id="org.springframework.ide.eclipse.xml.namespaces.feature.feature.group" version="4.18.0.202303131455"/>
      <unit id="org.springframework.tooling.boot.ls.feature.feature.group" version="4.18.0.202303131439"/>
      <!-- unique bundles -->
      <unit id="org.springframework.tooling.ls.eclipse.commons" version="4.18.0.202303131439"/>
      <unit id="org.springframework.tooling.ls.eclipse.gotosymbol" version="4.18.0.202303131439"/>
      <unit id="org.springframework.tooling.jdt.ls.commons" version="4.18.0.202303131439"/>
      <unit id="org.springframework.tooling.cloudfoundry.manifest.ls" version="1.45.0.202303131439"/>
      <unit id="org.springsource.ide.eclipse.commons.ui" version="4.18.0.202303131439"/>
      <unit id="org.springsource.ide.eclipse.commons.core" version="4.18.0.202303131439"/>
      <unit id="org.springsource.ide.eclipse.commons.livexp" version="4.18.0.202303131439"/>
      <unit id="org.springsource.ide.eclipse.commons.boot.ls" version="4.18.0.202303131439"/>
      <unit id="org.springsource.ide.eclipse.commons.frameworks.core" version="4.18.0.202303131439"/>
      <unit id="org.springsource.ide.eclipse.commons.frameworks.ui" version="4.18.0.202303131439"/>
      <unit id="com.hierynomus.sshj" version="0.24.0"/>
      <unit id="com.jcraft.jzlib" version="1.1.3.v20220502-1820"/>
    </location>

    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="https://subclipse.github.io/updates/subclipse/4.3.x"/>
      <unit id="com.collabnet.subversion.merge" version="4.2.0.1"/>
      <unit id="net.java.dev.jna.feature.group" version="4.1.0.v06022015_1911"/>
      <unit id="org.tigris.subversion.clientadapter" version="1.10.0"/>
      <unit id="org.tigris.subversion.clientadapter.javahl.feature.feature.group" version="1.14.0.202005311413"/>
      <unit id="org.tigris.subversion.clientadapter.svnkit.feature.feature.group" version="1.8.12.3"/>
      <unit id="org.tigris.subversion.subclipse.graph.feature.feature.group" version="4.2.0.1"/>
      <unit id="org.tigris.subversion.subclipse.feature.group" version="4.3.3.202012181204"/>
      <unit id="org.tmatesoft.svnkit.feature.group" version="1.10.2.r10793"/>
    </location>
    
    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://testng.org/testng-p2-update-site/"/>
      <unit id="org.testng.p2.feature.feature.group" version="7.6.1.r202207070546"/>
      <unit id="com.beust.jcommander" version="1.82.0"/>
      <unit id="org.apache-extras.beanshell.bsh" version="2.0.0.b6"/>
      <unit id="org.testng" version="7.6.1.r202207070546"/>
      <unit id="org.webjars.jquery" version="3.6.0"/>
      <unit id="org.yaml.snakeyaml" version="1.21.0"/>
    </location>
    
    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="https://testng.org/testng-eclipse-update-site"/>
      <unit id="org.testng.eclipse.feature.group" version="7.4.0.202106051955"/>
      <unit id="com.google.guava" version="21.0.0.v20170206-1425"/>
    </location>
    
    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="https://download.jboss.org/jbosstools/updates/requirements/orbit/S20220215213605/"/>
      <unit id="com.google.inject" version="3.0.0.v201605172100"/>
    </location>

  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>