<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.6"?>
<target includeMode="feature" name="jbtcentral-4.13.0.AM1-SNAPSHOT">
  <!-- Pro tip: paste content from generated Apache directory index, then match
        \[ ] (.+)_(.+).jar.+
    replace with 
      <unit id="\1.feature.group" version="\2"/>
  -->
  <locations>

    <!-- m2e extensions (that are not already in core TP) -->
    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.jboss.org/jbosstools/updates/m2e-extensions/m2e-wro4j/1.1.0-2014-06-25_06-16-31-H26/"/>
      <unit id="org.jboss.tools.m2e.wro4j.feature.feature.group" version="1.1.0.201406251020"/>
    </location>

    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/eclipsecs/8.7.0.201801131309/"/>
      <unit id="com.github.sevntu.checkstyle.checks.feature.feature.group" version="1.32.0"/>
      <unit id="net.sf.eclipsecs.feature.group" version="8.7.0.201801131309"/>
    </location>

    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/sonarlint/4.1.0.201901311043/"/>
      <unit id="org.sonarlint.eclipse.feature.feature.group" version="4.1.0.201901311043"/>
    </location>

    <!-- required for SpringIDE 3.7 (see also above) -->
    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/springide/3.9.9.201906181741-RELEASE/"/>
      <!-- Features to include in Central connector -->
      <unit id="org.springframework.ide.eclipse.aop.feature.feature.group" version="3.9.9.201906180643-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.autowire.feature.feature.group" version="3.9.9.201906180643-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.batch.feature.feature.group" version="3.9.9.201906180643-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.data.feature.feature.group" version="3.9.9.201906180643-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.feature.feature.group" version="3.9.9.201906180643-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.beans.ui.live" version="3.9.9.201906180643-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.beans.ui.livegraph" version="3.9.9.201906180643-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.boot" version="3.9.9.201906180643-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.boot.wizard" version="3.9.9.201906180643-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.editor.support" version="3.9.9.201906180643-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.integration.feature.feature.group" version="3.9.9.201906180643-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.maven.feature.feature.group" version="3.9.9.201906180643-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.mylyn.feature.feature.group" version="3.9.9.201906180643-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.osgi.feature.feature.group" version="3.9.9.201906180643-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.security.feature.feature.group" version="3.9.9.201906180643-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.webflow.feature.feature.group" version="3.9.9.201906180643-RELEASE"/>
	  <unit id="org.springframework.ide.eclipse.xml.namespaces.feature.feature.group" version="3.9.9.201906180643-RELEASE"/> <!-- new as of 3.9.9 -->
      <!-- depends on mylyn (used to be contained in org.springsource.ide.eclipse.commons.feature but feature was removed as of 3.9.3) -->
      <unit id="io.projectreactor.reactor-core" version="3.1.9.201902271843-RELEASE"/>
      <unit id="org.reactivestreams.reactive-streams" version="1.0.2"/>
      <unit id="org.springsource.ide.eclipse.commons.configurator" version="3.9.9.201906180559-RELEASE"/>
      <unit id="org.springsource.ide.eclipse.commons.content.core" version="3.9.9.201906180559-RELEASE"/>
      <unit id="org.springsource.ide.eclipse.commons.core" version="3.9.9.201906180559-RELEASE"/>
      <unit id="org.springsource.ide.eclipse.commons.frameworks.core" version="3.9.9.201906180559-RELEASE"/>
      <unit id="org.springsource.ide.eclipse.commons.frameworks.ui" version="3.9.9.201906180559-RELEASE"/>
      <unit id="org.springsource.ide.eclipse.commons.jdk_tools" version="3.9.9.201906180559-RELEASE"/>
      <unit id="org.springsource.ide.eclipse.commons.livexp" version="3.9.9.201906180559-RELEASE"/>
      <unit id="org.springsource.ide.eclipse.commons.ui" version="3.9.9.201906180559-RELEASE"/>

      <!-- Plugins to include to avoid console warnings after installation -->
      <unit id="org.springframework.ide.eclipse.config.ui" version="3.9.9.201906180643-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.maven" version="3.9.9.201906180643-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.wizard" version="3.9.9.201906180643-RELEASE"/>
      <unit id="org.springsource.ide.eclipse.dashboard.ui" version="3.9.9.201906180559-RELEASE"/>

      <!-- Required 3rd party plugins (on SpringIDE or Orbit site) not properly referenced by features -->
      <unit id="javax.jms" version="1.1.0.v201205091237"/>
      <unit id="org.apache.commons.codec" version="1.6.0.v201305230611"/>
      <unit id="org.aspectj.runtime" version="1.9.2.201905102027"/>
      <unit id="org.aspectj.weaver" version="1.9.2.201905102027"/>
      <unit id="org.eclipse.equinox.weaving.sdk.feature.group" version="1.2.0.201905102027"/>
      <unit id="org.eclipse.equinox.weaving.hook" version="1.2.200.v20180827-1235"/>
      <!-- <unit id="org.codehaus.jackson.core" version="1.6.0.v20101005-0925"/> -->
      <!-- <unit id="org.codehaus.jackson.mapper" version="1.6.0.v20101005-0925"/> -->
    </location>

    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/subclipse/4.2.4.201804261743__1.8.12.r10533_v20160129_0158/"/>
      <unit id="com.collabnet.subversion.merge" version="4.2.0.1"/>
      <unit id="net.java.dev.jna.feature.group" version="4.1.0.v06022015_1911"/>
      <unit id="org.tigris.subversion.clientadapter" version="1.9.7"/>
      <unit id="org.tigris.subversion.clientadapter.javahl.feature.feature.group" version="1.9.7.201803201521"/>
      <unit id="org.tigris.subversion.clientadapter.svnkit.feature.feature.group" version="1.8.12.1"/>
      <unit id="org.tigris.subversion.subclipse.graph.feature.feature.group" version="4.2.0.1"/>
      <unit id="org.tigris.subversion.subclipse.mylyn.feature.feature.group" version="4.2.0.1"/>
      <unit id="org.tigris.subversion.subclipse.feature.group" version="4.2.4.201804261743"/>
      <unit id="org.tmatesoft.svnkit.feature.group" version="1.8.12.r10533_v20160129_0158"/>
    </location>

  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
</target>
