<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.6"?><target includeMode="feature" name="jbtcentral-4.72.0.Final-SNAPSHOT">
  <!-- Pro tip: paste content from generated Apache directory index, then match
        \[ ] (.+)_(.+).jar.+
    replace with 
      <unit id="\1.feature.group" version="\2"/>
  -->
  <locations>

    <!-- m2e extensions (that are not already in core TP) -->
    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.jboss.org/jbosstools/updates/m2e-extensions/m2e-wro4j/1.1.0-2014-06-25_06-16-31-H26/"/>
      <unit id="org.jboss.tools.m2e.wro4j.feature.feature.group" version="1.1.0.201406251020"/>
    </location>

    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/eclipsecs/8.0.0.201707161819/"/>
      <unit id="com.github.sevntu.checkstyle.checks.feature.feature.group" version="1.24.2"/>
      <unit id="net.sf.eclipsecs.feature.group" version="8.0.0.201707161819"/>
    </location>

    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/sonarlint/3.3.0.201711211047/"/>
      <unit id="org.sonarlint.eclipse.feature.feature.group" version="3.3.0.201711211047"/>
    </location>

    <!-- required for SpringIDE 3.7 (see also above) -->
    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/springide/3.9.1.201710100539-RELEASE/"/>
      <!-- Features to include in Central connector -->
      <unit id="org.springframework.ide.eclipse.aop.feature.feature.group" version="3.9.1.201710100539-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.autowire.feature.feature.group" version="3.9.1.201710100539-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.batch.feature.feature.group" version="3.9.1.201710100539-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.data.feature.feature.group" version="3.9.1.201710100539-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.feature.feature.group" version="3.9.1.201710100539-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.integration.feature.feature.group" version="3.9.1.201710100539-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.maven.feature.feature.group" version="3.9.1.201710100539-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.mylyn.feature.feature.group" version="3.9.1.201710100539-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.osgi.feature.feature.group" version="3.9.1.201710100539-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.security.feature.feature.group" version="3.9.1.201710100539-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.webflow.feature.feature.group" version="3.9.1.201710100539-RELEASE"/>
      <unit id="org.springsource.ide.eclipse.commons.feature.group" version="3.9.1.201710100503-RELEASE"/>

      <!-- Plugins to include to avoid console warnings after installation -->
      <unit id="org.springframework.ide.eclipse.config.ui" version="3.9.1.201710100539-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.maven" version="3.9.1.201710100539-RELEASE"/>
      <unit id="org.springframework.ide.eclipse.wizard" version="3.9.1.201710100539-RELEASE"/>
      <unit id="org.springsource.ide.eclipse.dashboard.ui" version="3.9.1.201710100503-RELEASE"/>

      <!-- Required 3rd party plugins (on SpringIDE or Orbit site) not properly referenced by features -->
      <unit id="javax.jms" version="1.1.0.v201205091237"/>
      <unit id="org.apache.commons.codec" version="1.6.0.v201305230611"/>
      <unit id="org.aspectj.runtime" version="1.8.10.201710051806"/>
      <unit id="org.aspectj.weaver" version="1.8.10.201710051806"/>
      <unit id="org.eclipse.equinox.weaving.sdk.feature.group" version="1.2.0.201710051806"/>
      <unit id="org.eclipse.equinox.weaving.hook" version="1.2.0.v20160929-1449"/>
      <!-- <unit id="org.codehaus.jackson.core" version="1.6.0.v20101005-0925"/> -->
      <!-- <unit id="org.codehaus.jackson.mapper" version="1.6.0.v20101005-0925"/> -->
    </location>

    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/subclipse/4.2.3.201707071932__1.8.15.r10636/"/>
      <unit id="com.collabnet.subversion.merge" version="4.2.0.1"/>
      <unit id="net.java.dev.jna.feature.group" version="4.1.0.v06022015_1911"/>
      <unit id="org.tigris.subversion.clientadapter" version="1.9.4.2"/>
      <unit id="org.tigris.subversion.clientadapter.javahl.feature.feature.group" version="1.9.6.201707071926"/>
      <unit id="org.tigris.subversion.clientadapter.svnkit.feature.feature.group" version="1.8.12.1"/>
      <unit id="org.tigris.subversion.subclipse.graph.feature.feature.group" version="4.2.0.1"/>
      <unit id="org.tigris.subversion.subclipse.mylyn.feature.feature.group" version="4.2.0.1"/>
      <unit id="org.tigris.subversion.subclipse.feature.group" version="4.2.3.201707071932"/>
      <unit id="org.tmatesoft.svnkit.feature.group" version="1.8.15.r10636"/>
    </location>

  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
</target>
