<?xml version="1.0" encoding="UTF-8"?><?pde version="3.6"?>
<target includeMode="feature" name="jbtearlyaccesstarget-4.40.0.Beta3-SNAPSHOT">
  <!-- Pro tip: paste content from generated Apache directory index, then match
        \[ ] (.+)_(.+).jar.+
    replace with 
      <unit id="\1.feature.group" version="\2"/>
  -->
  <locations>
    <!--
    <location includeAllPlatforms="false" includeMode="slicer" type="InstallableUnit" includeSource="true">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/foo/1.0.0/"/>
      <unit id="foo.feature.group" version="0.0.0"/>
    </location>
    -->

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/luna/201405090900-M7/"/>
      <!-- transitive dependencies -->
      <unit id="org.eclipse.core.resources" version="3.9.0.v20140403-1323"/>
      <unit id="org.eclipse.core.runtime" version="3.10.0.v20140318-2214"/>
      <unit id="org.eclipse.osgi" version="3.10.0.v20140428-1446"/>
      <unit id="org.eclipse.equinox.common" version="3.6.200.v20130402-1505"/>
      <unit id="org.eclipse.wst.common.uriresolver" version="1.2.100.v201305141800"/>
      <unit id="org.eclipse.ui" version="3.106.0.v20140428-2006"/>
      <unit id="org.eclipse.core.jobs" version="3.6.0.v20140424-0053"/>
      <unit id="org.eclipse.core.expressions" version="3.4.600.v20140128-0851"/>
      <unit id="org.eclipse.equinox.registry" version="3.5.400.v20140428-1507"/>
      <unit id="org.eclipse.jetty.server" version="9.1.3.v20140225"/>
      <unit id="org.eclipse.equinox.preferences" version="3.5.200.v20140224-1527"/>
      <unit id="org.eclipse.core.contenttype" version="3.4.200.v20140207-1251"/>
      
<!--
      <unit id="com.ibm.icu" version="52.1.0.v201404241930"/>
      <unit id="org.apache.ant" version="1.9.2.v201404171502"/>
      <unit id="org.apache.commons.codec" version="1.6.0.v201305230611"/>
      <unit id="org.apache.commons.collections" version="3.2.0.v2013030210310"/>
      <unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
      <unit id="org.apache.commons.logging" version="1.0.4.v201101211617"/>
      <unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
      <unit id="org.apache.xerces" version="2.9.0.v201101211617"/>

      <unit id="org.eclipse.core.commands" version="3.6.100.v20140424-2344"/>
      <unit id="org.eclipse.core.filesystem" version="1.4.100.v20140414-0946"/>
      <unit id="org.eclipse.debug.core" version="3.9.0.v20140103-1148"/>
      <unit id="org.eclipse.equinox.simpleconfigurator.manipulator" version="2.0.0.v20131217-1203"/>
      <unit id="org.eclipse.jdt.launching" version="3.7.100.v20140428-1912"/>
      <unit id="org.eclipse.jdt.junit.core" version="3.7.300.v20140409-1618"/>
      <unit id="org.eclipse.jdt.core" version="3.10.0.v20140430-2322"/>
      <unit id="org.eclipse.jst.jee" version="1.0.700.v201404092030"/>
      <unit id="org.eclipse.swt" version="3.103.0.v20140430-1139"/>
      <unit id="org.eclipse.ui.forms" version="3.6.100.v20140422-1825"/>
      <unit id="org.eclipse.ui.navigator" version="3.5.400.v20140210-1835"/>
      <unit id="org.eclipse.ui.views" version="3.7.0.v20140408-0703"/>
      <unit id="org.eclipse.ui.views.properties.tabbed" version="3.6.0.v20140210-1835"/>
      <unit id="org.eclipse.ui.workbench" version="3.106.0.v20140430-1900"/>

      <unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
      <unit id="org.jsoup" version="1.7.2.v201304221138"/>
      <unit id="org.junit" version="4.11.0.v201303080030"/>
-->
    </location>

    <location includeAllPlatforms="false" includeMode="slicer" type="InstallableUnit" includeSource="true">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/angularjs/0.2.0.201405210817/"/>
      <unit id="angularjs-eclipse-feature.feature.group" version="0.2.0.201405210817" />
    </location>
    <!-- required by AngularJS -->
    <location includeAllPlatforms="false" includeMode="slicer" type="InstallableUnit" includeSource="true">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/tern/0.2.0.201405210810-SNAPSHOT/"/>
      <unit id="minimal-json" version="0.9.1" />
      <unit id="tern-feature.feature.group" version="0.2.0.201405210810" />
      <unit id="tern-jsdt-feature.feature.group" version="0.2.0.201405210810" />
      <unit id="tern-server-nodejs-feature.feature.group" version="0.2.0.201405210810" />
      <unit id="tern.eclipse.linux.gtk.x86_64.feature.feature.group" version="0.2.0.201405210810"/>
      <unit id="tern.eclipse.macosx.cocoa.x86_64.feature.feature.group" version="0.2.0.201405210810"/>
      <unit id="tern.eclipse.win32.win32.x86.feature.feature.group" version="0.2.0.201405210810"/>
      <unit id="tern.eclipse.ide.tools.feature.feature.group" version="0.2.0.201405210810"/>
    </location>

    <location includeAllPlatforms="false" includeMode="slicer" type="InstallableUnit" includeSource="true">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/luna/201405090900-M7/"/>
      <!-- required by Arquillian -->
      <unit id="org.eclipse.sapphire.feature.group" version="8.0.0.201404241341"/>
      <unit id="org.eclipse.sapphire.java.feature.group" version="8.0.0.201404241341"/>
      <unit id="org.eclipse.sapphire.java.jdt.feature.group" version="8.0.0.201404241341"/>
      <unit id="org.eclipse.sapphire.modeling.xml.feature.group" version="8.0.0.201404241341"/>
      <unit id="org.eclipse.sapphire.osgi.feature.group" version="8.0.0.201404241341"/>
      <unit id="org.eclipse.sapphire.platform.feature.group" version="8.0.0.201404241341"/>
      <unit id="org.eclipse.sapphire.ui.feature.group" version="8.0.0.201404241341"/>
      <unit id="org.eclipse.sapphire.ui.swt.gef.feature.group" version="8.0.0.201404241341"/>
      <unit id="org.eclipse.sapphire.ui.swt.xml.editor.feature.group" version="8.0.0.201404241341"/>
      <unit id="org.objectweb.asm" version="5.0.1.v201404251740"/>
    </location>
    <!-- TODO: this should be on a released milestone site, not the staging site -->
    <location includeAllPlatforms="false" includeMode="slicer" type="InstallableUnit" includeSource="true">
      <repository location="http://download.jboss.org/jbosstools/builds/staging/jbosstools-arquillian_4.2.luna/all/repo/"/>
      <unit id="org.jboss.tools.arquillian.feature.feature.group" version="1.1.1.Beta2-v20140523-1355-B37"/>
    </location>

    <!-- required for VJET -->
    <location includeAllPlatforms="false" includeMode="slicer" type="InstallableUnit" includeSource="true">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/luna/201405090900-M7/"/>
      <!-- already included in JBT TP <unit id="org.eclipse.equinox.server.jetty.feature.group" version="0.0.0"/> -->
      <unit id="org.w3c.dom.events" version="3.0.0.draft20060413_v201105210656"/>
    </location>
    <location includeAllPlatforms="false" includeMode="slicer" type="InstallableUnit" includeSource="true">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/vjet/0.10.0.201403201656/"/>
      <unit id="org.eclipse.vjet.core.feature.group" version="0.10.0.201403201656"/>
      <unit id="org.eclipse.vjet.eclipse.feature.group" version="0.10.0.201403201656"/>
      <unit id="org.eclipse.vjet.extmod.dltk.core.feature.group" version="0.10.0.201403201656"/>
      <unit id="org.eclipse.vjet.extmod.jsdt.feature.group" version="0.10.0.201403201656"/>
      <unit id="org.eclipse.vjet.extmod.rhino.feature.group" version="0.10.0.201403201656"/>
      <unit id="org.eclipse.vjet.rt.feature.group" version="0.10.0.201403201656"/>
      <unit id="org.eclipse.vjet.web.feature.group" version="0.10.0.201403201656"/>
      <unit id="org.eclipse.vjet.codegen.feature.group" version="0.10.0.201403201656"/>
        <unit id="org.eclipse.vjet.resource.feature.group" version="0.10.0.201403201656"/>
      <unit id="org.eclipse.vjet.vsf.domkit.feature.group" version="0.10.0.201403201656"/>
        <unit id="org.junit4" version="4.8.1.v20120523-1257"/>
    </location>

  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
</target>
