<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.6"?><target includeMode="feature" name="jbtearlyaccess-4.42.0.Final-SNAPSHOT">
  <!-- Pro tip: paste content from generated Apache directory index, then match
        \[ ] (.+)_(.+).jar.+
    replace with 
      <unit id="\1.feature.group" version="\2"/>
  -->
  <locations>
    <!--
    <location includeAllPlatforms="false" includeMode="slicer" type="InstallableUnit" includeSource="true">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/foo/1.0.0/"/>
      <unit id="foo.feature.group" version="0.0.0"/>
    </location>
    -->

    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/angularjs/0.8.2.201502232101/"/>
      <unit id="angularjs-eclipse-feature.feature.group" version="0.8.2.201502232101"/>
    </location>

    <!-- TODO: update this with each milestone release -->
    <!-- JBoss Tools core requirements, including Arquillian + dependencies -->
    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <!-- TODO: this alternates between
	* /static/releases/ when content is released
	* /updates/staging/luna/ when content is not released yet -->
      <repository location="http://download.jboss.org/jbosstools/updates/staging/luna/jbosstools-4.2.3.Final-updatesite-core/"/>
      <unit id="org.jboss.tools.arquillian.feature.feature.group" version="1.1.3.Final-v20141209-0427-B81"/>
      <unit id="org.jboss.ide.eclipse.as.feature.feature.group" version="3.0.3.Final-v20150325-0035-B129"/>
      <unit id="org.jboss.tools.common.core.feature.feature.group" version="3.6.2.Final-v20150325-0456-B99"/>
      <unit id="org.jboss.tools.common.feature.feature.group" version="3.6.2.Final-v20150325-0456-B99"/>
      <unit id="org.jboss.tools.common.jdt.feature.feature.group" version="3.6.2.Final-v20150325-0456-B99"/>
      <unit id="org.jboss.tools.foundation.feature.feature.group" version="1.1.2.Final-v20150325-0456-B99"/>
      <unit id="org.jboss.tools.jmx.feature.feature.group" version="1.6.3.Final-v20150325-0035-B129"/>
      <unit id="org.jboss.tools.usage.feature.feature.group" version="2.0.2.Final-v20150325-0456-B99"/>
      <unit id="org.jboss.tools.runtime.core.feature.feature.group" version="3.0.2.Final-v20150325-0456-B99"/>
      <unit id="org.jboss.ide.eclipse.archives.feature.feature.group" version="3.5.3.Final-v20150325-0035-B129"/>
      <unit id="org.jboss.tools.stacks.core.feature.feature.group" version="1.1.2.Final-v20150325-0456-B99"/>
      <unit id="org.jboss.tools.common.ui.feature.feature.group" version="3.6.2.Final-v20150325-0456-B99"/>
      <unit id="org.jboss.tools.common.mylyn.feature.feature.group" version="3.6.2.Final-v20150325-0456-B99"/>
      <unit id="org.jboss.tools.common.text.ext.feature.feature.group" version="3.6.2.Final-v20150325-0456-B99"/>
      <unit id="org.jboss.tools.common.verification.feature.feature.group" version="3.6.2.Final-v20150325-0456-B99"/>
      <unit id="org.jboss.tools.jst.jsdt.feature.feature.group" version="3.6.2.Final-v20150325-0257-B112"/>
      <unit id="org.jboss.tools.jst.angularjs.feature.feature.group" version="3.6.2.Final-v20150325-0257-B112"/>
    </location>

    <!-- required by Arquillian; included in JBT TP but not JBDS TP -->
    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/luna/201502190900-SR2-RC4/"/>
      <unit id="org.eclipse.sapphire.feature.group" version="8.1.0.201411041306"/>
      <unit id="org.eclipse.sapphire.java.feature.group" version="8.1.0.201411041306"/>
      <unit id="org.eclipse.sapphire.java.jdt.feature.group" version="8.1.0.201411041306"/>
      <unit id="org.eclipse.sapphire.modeling.xml.feature.group" version="8.1.0.201411041306"/>
      <unit id="org.eclipse.sapphire.osgi.feature.group" version="8.1.0.201411041306"/>
      <unit id="org.eclipse.sapphire.platform.feature.group" version="8.1.0.201411041306"/>
      <unit id="org.eclipse.sapphire.ui.feature.group" version="8.1.0.201411041306"/>
      <unit id="org.eclipse.sapphire.ui.swt.gef.feature.group" version="8.1.0.201411041306"/>
      <unit id="org.eclipse.sapphire.ui.swt.xml.editor.feature.group" version="8.1.0.201411041306"/>
      <unit id="org.objectweb.asm" version="5.0.1.v201404251740"/>
    </location>

  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
</target>
