<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.mylyn.discovery.core.connectorDiscovery">
      <certification id="com.jboss.jbds.discovery.certification.experimental.earlyaccess" name="Experimental - Early Access" url="https://devstudio.redhat.com/10.0/stable/updates/#central">
         <description>Tested by Red Hat. However, as these are experimental plug-ins,
it is possible that their content may change at any time and
without prior notice. We will make an attempt to monitor these
third party sites and execute appropriate tests as soon as
reasonable, reporting issues to these providers as required.
 
This content is provided via Early Access 
so that it can be evaluated + monitored, in order to execute 
appropriate tests + report issues to plug-in providers as required.</description>
         <icon image48="images/redhat_48.png"></icon>
      </certification>
      <certification id="com.jboss.jbds.discovery.certification.supported.earlyaccess" name="Supported - Early Access" url="https://devstudio.redhat.com/10.0/stable/updates/#central">
         <description>Supported by Red Hat.
 
This content is provided via Early Access 
so that it can be evaluated + monitored, in order to execute 
appropriate tests + report issues to plug-in providers as required.</description>
         <icon image48="images/redhat_48.png"></icon>
      </certification>


      <!-- a. Web Development -->

      <!-- JBIDE-17278: new AngularJS connector -->
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.a.web"
            groupId="org.jboss.tools.central.discovery.a.web.core"
            certificationId="com.jboss.jbds.discovery.certification.experimental.earlyaccess"
            description="AngularJS Tooling provides content assist, navigation, and Ionic framework support"
            id="angularjs-eclipse-feature"
            kind="task"
            license="EPL (Free)"
            name="AngularJS for Web Tools"
            provider="JBoss by Red Hat"
            siteUrl="${jboss.discovery.earlyaccess.site.url}">
            <iu id="angularjs-eclipse-feature"/>
            <iu id="tern-feature"/>
            <iu id="tern-jsdt-feature"/>
            <iu id="tern-server-nodejs-feature"/>
            <iu id="tern.eclipse.ide.tools.feature"/>
            <iu id="tern.eclipse.ide.server.nodejs.embed"/>
            <iu id="org.jboss.tools.jst.jsdt.feature" />
            <iu id="org.jboss.tools.jst.angularjs.feature" />
         <icon image32="images/angularjs_32.png"></icon>
         <overview url="https://marketplace.eclipse.org/content/angularjs-eclipse"></overview>
      </connectorDescriptor>

      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.a.web"
            groupId="org.jboss.tools.central.discovery.a.web.core"
            certificationId="com.jboss.jbds.discovery.certification.experimental.earlyaccess"
            description="Create and run tests with Arquillian"
            id="org.jboss.tools.arquillian"
            kind="task"
            license="EPL (Free)"
            name="JBoss Arquillian Tools"
            provider="JBoss by Red Hat"
            siteUrl="${jboss.discovery.earlyaccess.site.url}">
            <iu id="org.jboss.tools.arquillian.feature"/>
         <icon image32="images/arquillian_32.png"/>
         <overview url="http://www.jboss.org/tools"/>
      </connectorDescriptor>

    </extension>	
</plugin>
