<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.mylyn.discovery.core.connectorDiscovery">

      <certification id="org.jboss.tools.discovery.certification.supported" name="Supported" url="https://devstudio.redhat.com/11/stable/updates/#central">
         <description>
Supported by Red Hat.</description>
         <icon image48="images/jbosstools_48.png"></icon>
      </certification>
      <certification id="org.jboss.tools.discovery.certification.notavailable" name="Not Yet Available" url="https://devstudio.redhat.com/11/stable/updates/#central">
         <description>This feature set is currently unavailable for this version of JBoss Tools. Please see the connector's description for details on when/where it will be made available.</description>
         <icon image48="images/jbosstools_48.png"></icon>
      </certification>

      <!-- use connectorCategory relevance value to sort from largest (80) to smallest (20) -->

      <!-- JBoss Fuse Development -->
      <connectorCategory
            description="Tools to create integration applications using Apache Camel / Component Library and deploy to JBoss Fuse or JBoss EAP"
            id="org.jboss.tools.central.discovery.a.fuse"
            name="JBoss Fuse Development"
            relevance="85">
         <group id="org.jboss.tools.central.discovery.a.fuse" />
         <group id="org.jboss.tools.central.discovery.a.fuse.extras" />
      </connectorCategory>

      <!-- JBoss Fuse Development -->
      <connectorDescriptor
         categoryId="org.jboss.tools.central.discovery.a.fuse"
         groupId="org.jboss.tools.central.discovery.a.fuse"
         certificationId="org.jboss.tools.discovery.certification.supported"
         kind="task"
         license="Free, EPL"
         provider="Red Hat"
         siteUrl="${jboss.discovery.site.url}"
         name="JBoss Fuse Development"
         description="Tools to create integration applications using Apache Camel / Component Library and deploy to JBoss Fuse or JBoss EAP"
         id="org.fusesource.ide">
         <iu id="org.fusesource.ide.camel.editor.feature"/>
         <iu id="org.fusesource.ide.core.feature"/>
         <iu id="org.fusesource.ide.jmx.feature"/>
         <iu id="org.fusesource.ide.server.extensions.feature"/>
         <iu id="org.jboss.tools.fuse.transformation.feature"/>
         <icon
           image32="images/fuse_32.png">
         </icon>
         <overview
           url="http://tools.jboss.org/features/apachecamel.html">
         </overview>
      </connectorDescriptor>

      <!-- a. Mobile Development -->

      <connectorCategory
            description="Plug-ins to support HTML5 Hybrid Mobile application development"
            id="org.jboss.tools.central.discovery.a.mobile"
            name="Mobile Development"
            relevance="80">
         <group id="org.jboss.tools.central.discovery.a.mobile.core" />
         <group id="org.jboss.tools.central.discovery.a.mobile.extras" />
         <group id="org.jboss.tools.central.discovery.a.mobile.extras2" />
      </connectorCategory>

      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.a.web"
            groupId="org.jboss.tools.central.discovery.a.web.core"
            description="Tooling support for Node.js from Nodeclipse"
            id="nodeclipse"
            kind="task"
            license="EPL, ASL, others (Free)"
            name="Nodeclipse for node.js"
            provider="Nodeclipse"
            siteUrl="http://www.nodeclipse.org/updates/">

            <iu id="org.nodeclipse"/>
            <iu id="org.nodeclipse.enide.editors.jade.feature"/>
            <iu id="org.nodeclipse.pluginslist.feature"/>

            <iu id="com.eclipsesource.jshint.feature"/>
            <iu id="de.bastiankrol.startexplorer.feature"/>
            <iu id="gitaddon.feature"/>
            <iu id="markdown.editor.feature"/>
            <iu id="net.mihai-nita.ansicon"/>
            <iu id="pm.eclipse.editbox.feature"/>

            <iu id="org.chromium.debug"/>
            <iu id="org.chromium.sdk"/>

            <iu id="tern-feature"/>
            <iu id="tern-jsdt-feature"/>
            <iu id="tern-server-nodejs-feature"/>
         <icon
               image32="images/nodejs_32.png">
         </icon>
         <overview
               url="http://tools.jboss.org/">
         </overview>
      </connectorDescriptor>

      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.a.web"
            groupId="org.jboss.tools.central.discovery.a.web.core"
            description="AngularJS Tooling provides content assist and Ionic framework support"
            id="angularjs-eclipse-feature"
            kind="task"
            license="EPL (Free)"
            name="AngularJS for Web Tools"
            provider="Red Hat"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.jboss.tools.jst.angularjs.feature"/>
         <icon
               image32="images/angularjs_32.png">
         </icon>
         <overview
               url="http://tools.jboss.org/">
         </overview>
      </connectorDescriptor>

      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.a.mobile"
            groupId="org.jboss.tools.central.discovery.a.mobile.extras"
            description="Android Development Tools, DDMS, Hierarchy Viewer, OpenGL Tracer, Traceview"
            id="com.android.ide.eclipse.adt"
            kind="task"
            license="EPL, Other (Free)"
            name="Android Development Tools"
            provider="Google, Inc."
            siteUrl="https://dl-ssl.google.com/android/eclipse/">
            <!-- https://issues.jboss.org/browse/JBIDE-12498, JBIDE-13167 -->
            <iu id="com.android.ide.eclipse.adt.feature"/>
            <iu id="com.android.ide.eclipse.ddms.feature"/>
            <iu id="com.android.ide.eclipse.hierarchyviewer.feature"/>
            <iu id="com.android.ide.eclipse.gldebugger.feature"/>
            <iu id="com.android.ide.eclipse.traceview.feature"/>
            <!-- DO NOT INCLUDE com.android.ide.eclipse.ndk feature because it requires CDT -->
         <icon
               image32="images/android_32.png">
         </icon>
         <overview
               url="http://developer.android.com/tools/sdk/eclipse-adt.html">
         </overview>
      </connectorDescriptor>

      <!-- a. Web Development -->

      <connectorCategory
            description="Additional plug-ins to support web development"
            id="org.jboss.tools.central.discovery.a.web"
            name="Web Development"
            relevance="70">
         <group id="org.jboss.tools.central.discovery.a.web.core" />
         <group id="org.jboss.tools.central.discovery.a.web.extras" />
         <group id="org.jboss.tools.central.discovery.a.web.extras2" />
      </connectorCategory>

      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.a.web"
            groupId="org.jboss.tools.central.discovery.a.web.core"
            description="Provides Tooling for Red Hat's OpenShift 3. Sign into your OpenShift 3 account, create and deploy applications to the Cloud."
            id="org.jboss.tools.openshift3"
            kind="task"
            license="EPL (Free)"
            name="JBoss OpenShift 3 Tools"
            provider="Red Hat"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.jboss.tools.openshift.feature"/>
            <iu id="org.jboss.tools.openshift.cdk.feature"/>
            <iu id="org.jboss.tools.openshift.egit.integration.feature"/>
         <icon
               image32="images/openshift-32.png">
         </icon>
         <overview
               url="http://tools.jboss.org/">
         </overview>
      </connectorDescriptor>

      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.a.web"
            groupId="org.jboss.tools.central.discovery.a.web.core"
            description="JBoss Forge Tools provides easy access and integration with JBoss Forge within Eclipse."
            id="forge-tools-feature"
            kind="task"
            license="EPL (Free)"
            name="JBoss Forge Tools"
            provider="Red Hat"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.jboss.tools.forge.feature"/>
            <iu id="org.jboss.tools.forge.m2e.feature"/>
         <icon image32="images/jbossforge_icon_32px.png"/>
         <overview url="http://tools.jboss.org/features/forge.html"/>
      </connectorDescriptor>

      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.a.web"
            groupId="org.jboss.tools.central.discovery.a.web.core"
            description="JST Server Core, UI, Adapters, User Doc"
            id="org.eclipse.jst.server_core.feature"
            kind="task"
            license="EPL, Other (Free)"
            name="JST Server"
            provider="eclipse.org"
            siteUrl="${jboss.discovery.site.url}">
            <!-- <iu id="org.eclipse.jst.server_adapters.ext.feature"/> -->
            <iu id="org.eclipse.jst.server_adapters.feature"/>
            <iu id="org.eclipse.jst.server_core.feature"/>
            <iu id="org.eclipse.jst.server_ui.feature"/>
            <iu id="org.eclipse.jst.server_userdoc.feature"/>
         <icon
               image32="images/wtp_32.png">
         </icon>
         <overview
               url="http://eclipse.org/webtools/">
         </overview>
      </connectorDescriptor>

      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.a.web"
            groupId="org.jboss.tools.central.discovery.a.web.core"
            description="Save html, css + javascript and see changes immediately in your browser (Deprecated)"
            id="org.jboss.tools.livereload"
            kind="task"
            license="EPL (Free)"
            name="JBoss Tools LiveReload (Deprecated)"
            provider="Red Hat"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.jboss.tools.livereload.feature"/>
         <icon image32="images/jbosstools_icon32.png"/>
         <overview url="http://tools.jboss.org/"/>
      </connectorDescriptor>

      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.a.web"
            groupId="org.jboss.tools.central.discovery.a.web.extras"
            description="Buildship is a collection of Eclipse plug-ins that provide support for building software using Gradle"
            id="org.eclipse.buildship"
            kind="task"
            license="EPL, Other (Free)"
            name="Eclipse Buildship"
            provider="eclipse.org"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.eclipse.buildship"/>
         <icon
               image32="images/buildship_32.png">
         </icon>
         <overview
               url="https://projects.eclipse.org/projects/tools.buildship">
         </overview>
      </connectorDescriptor>

      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.a.web"
            groupId="org.jboss.tools.central.discovery.a.web.extras"
            description="Tool support for the Spring Framework"
            id="org.springframework.ide.eclipse.feature"
            kind="task"
            license="EPL, Other (Free)"
            name="Spring IDE"
            provider="Spring IDE Developers"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.springframework.ide.eclipse.aop.feature"/>
            <iu id="org.springframework.ide.eclipse.autowire.feature"/>
            <iu id="org.springframework.ide.eclipse.batch.feature"/>
            <iu id="org.springframework.ide.eclipse.data.feature"/>
            <iu id="org.springframework.ide.eclipse.feature"/>
            <iu id="org.springframework.ide.eclipse.integration.feature"/>
            <iu id="org.springframework.ide.eclipse.maven.feature"/>
            <iu id="org.springframework.ide.eclipse.mylyn.feature"/>
            <iu id="org.springframework.ide.eclipse.osgi.feature"/>
            <iu id="org.springframework.ide.eclipse.security.feature"/>
            <iu id="org.springframework.ide.eclipse.webflow.feature"/>
            <iu id="org.eclipse.mylyn.bugzilla_feature"/>
         <icon
               image32="images/springide_32.png">
         </icon>
         <overview
               url="http://www.springsource.com/developer">
         </overview>
      </connectorDescriptor>

      <!-- b. SCM -->

      <connectorCategory
            description="Plug-ins for source control systems"
            id="org.jboss.tools.central.discovery.b.scm"
            name="Source Control Management"
            relevance="60">
             <group id="org.jboss.tools.central.discovery.b.scm.git" />
             <group id="org.jboss.tools.central.discovery.b.scm.svn" />
      </connectorCategory>

      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.b.scm"
            groupId="org.jboss.tools.central.discovery.b.scm.git"
            description="Mylyn support for Eclipse EGit and GitHub"
            id="org.eclipse.egit.mylyn"
            kind="task"
            license="EPL (Free)"
            name="Eclipse EGit: Mylyn Support"
            provider="eclipse.org"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.eclipse.jgit"/>
            <iu id="org.eclipse.egit"/>
            <iu id="org.eclipse.egit.mylyn"/>
            <iu id="org.eclipse.mylyn.github.feature"/>
            <iu id="org.eclipse.mylyn.git" />
        <iu id="org.eclipse.mylyn_feature"/>
        <iu id="org.eclipse.mylyn.ide_feature"/>
        <iu id="org.eclipse.mylyn.commons"/>
        <iu id="org.eclipse.mylyn.context_feature"/>
        <iu id="org.eclipse.mylyn.bugzilla_feature"/>
        <iu id="org.eclipse.mylyn.java_feature"/>
        <iu id="org.eclipse.mylyn.pde_feature"/>
        <iu id="org.eclipse.mylyn.team_feature"/>
        <iu id="org.eclipse.mylyn.versions"/>
         <icon
               image32="images/egit_32.png">
         </icon>
         <overview
               url="http://www.eclipse.org/egit/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.b.scm"
            groupId="org.jboss.tools.central.discovery.b.scm.svn"
            description="Eclipse Team Provider for the Subversion version control system, including SVNKit"
            id="org.tigris.subversion.subclipse"
            kind="task"
            license="Subclipse License (Free)"
            name="Subclipse + SVNKit"
            provider="tigris.org"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.tigris.subversion.subclipse"/>
            <iu id="org.tigris.subversion.clientadapter.svnkit.feature"/>
            <iu id="net.java.dev.jna"/>
            <iu id="org.tigris.subversion.subclipse.graph.feature"/>
            <iu id="org.tmatesoft.svnkit"/>
         <icon
               image32="images/subclipse_32.gif">
         </icon>
         <overview
               url="http://subclipse.tigris.org/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.b.scm"
            groupId="org.jboss.tools.central.discovery.b.scm.svn"
            description="Mylyn support for the Subversion version control system, including SVNKit"
            id="org.tigris.subversion.subclipse.mylyn"
            kind="task"
            license="Subclipse License (Free)"
            name="Subclipse + SVNKit: Mylyn Support"
            provider="tigris.org"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.tigris.subversion.subclipse"/>
            <iu id="org.tigris.subversion.clientadapter.svnkit.feature"/>
            <iu id="org.tigris.subversion.subclipse.mylyn.feature"/>
            <iu id="net.java.dev.jna"/>
            <iu id="org.tigris.subversion.subclipse.graph.feature"/>
            <iu id="org.tmatesoft.svnkit"/>

        <iu id="org.eclipse.mylyn_feature"/>
        <iu id="org.eclipse.mylyn.ide_feature"/>
        <iu id="org.eclipse.mylyn.commons"/>
        <iu id="org.eclipse.mylyn.context_feature"/>
        <iu id="org.eclipse.mylyn.bugzilla_feature"/>
        <iu id="org.eclipse.mylyn.java_feature"/>
        <iu id="org.eclipse.mylyn.pde_feature"/>
        <iu id="org.eclipse.mylyn.team_feature"/>
        <iu id="org.eclipse.mylyn.versions"/>
         <icon
               image32="images/subclipse_32.gif">
         </icon>
         <overview
               url="http://subclipse.tigris.org/">
         </overview>
      </connectorDescriptor>

       <!-- c. Testing -->

       <connectorCategory
            description="Plug-ins for testing + code quality"
            id="org.jboss.tools.central.discovery.c.testing"
            name="Utilities"
            relevance="40">
          <group id="org.jboss.tools.central.discovery.c.testing.local" />
           <group id="org.jboss.tools.central.discovery.c.testing.remote" />
      </connectorCategory>

      <!-- add CheckStyle plugin back into Central (JBIDE-14799, JBIDE-15128, JBIDE-15129) -->
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.c.testing"
            groupId="org.jboss.tools.central.discovery.c.testing.local"
            description="Tool support for Checkstyle"
            id="net.sf.eclipsecs"
            kind="task"
            license="LGPL (Free)"
            name="Eclipse Checkstyle"
            provider="eclipse-cs Project"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="net.sf.eclipsecs"/>
            <iu id="com.github.sevntu.checkstyle.checks.feature"/>
         <icon
               image32="images/checkstyle_32.png">
         </icon>
         <overview
               url="http://eclipse-cs.sourceforge.net/">
         </overview>
      </connectorDescriptor>

      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.c.testing"
            groupId="org.jboss.tools.central.discovery.c.testing.local"
            description="Tool support for SonarLint"
            id="org.sonarlint.eclipse.feature"
            kind="task"
            license="LGPL (Free)"
            name="SonarLint for Eclipse"
            provider="SonarSource"
            siteUrl="${jboss.discovery.site.url}">
         <iu id="org.sonarlint.eclipse.feature"/>
         <icon
               image32="images/sonarlint-32x32.png">
         </icon>
         <overview
               url="http://www.sonarlint.org/eclipse/">
         </overview>
      </connectorDescriptor>

      <!-- JBDS-2752 -->
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.c.testing"
            groupId="org.jboss.tools.central.discovery.c.testing.local"
            description="Mylyn support for Hudson + Jenkins servers"
            id="org.eclipse.mylyn.hudson"
            kind="task"
            license="EPL (Free)"
            name="Hudson + Jenkins: Mylyn Support"
            provider="Red Hat"
            siteUrl="${jboss.discovery.site.url}">
         <iu id="org.eclipse.mylyn.hudson"/>
         <icon
               image32="images/mylyn_32.png">
         </icon>
         <overview
               url="http://eclipse.org/mylyn/">
         </overview>
      </connectorDescriptor>

      <!-- JBIDE-13670, JBIDE-13682, JBIDE-13712, JBIDE-13724 remove everything that depends on Atlassian feature -->
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.c.testing"
            groupId="org.jboss.tools.central.discovery.c.testing.local"
            description="Mylyn support for reporting JBoss JIRAs and Red Hat Bugzillas"
            id="org.jboss.tools.common.mylyn.feature"
            kind="task"
            license="EPL (Free)"
            name="Mylyn Issue Tracker Connectors"
            provider="Red Hat"
            siteUrl="${jboss.discovery.site.url}">
         <iu id="org.jboss.tools.common.mylyn.feature"/>
         <iu id="org.eclipse.mylyn_feature"/>
         <iu id="org.eclipse.mylyn.ide_feature"/>
         <iu id="org.eclipse.mylyn.commons"/>
         <iu id="org.eclipse.mylyn.context_feature"/>
         <iu id="org.eclipse.mylyn.bugzilla_feature"/>
         <iu id="org.eclipse.mylyn.java_feature"/>
         <iu id="org.eclipse.mylyn.pde_feature"/>
         <iu id="org.eclipse.mylyn.team_feature"/>
         <iu id="org.eclipse.mylyn.versions"/>
         <icon
               image32="images/jbosstools_icon32.png">
         </icon>
         <overview
               url="http://tools.jboss.org/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.c.testing"
            groupId="org.jboss.tools.central.discovery.c.testing.local"
            description="Tool support for TestNG"
            id="org.testng.eclipse"
            kind="task"
            license="ASL (Free)"
            name="TestNG"
            provider="Cedric Beust"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.testng.eclipse"/>
         <icon
               image32="images/testng_32.gif">
         </icon>
         <overview
                summary="TestNG plug-in for Eclipse"
                screenshot="images/testng_screenshot.png"
               url="http://testng.org/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.c.testing"
            groupId="org.jboss.tools.central.discovery.c.testing.remote"
            description="Tool support for JRebel - requires JST Server"
            id="org.zeroturnaround.eclipse.feature"
            kind="task"
            license="Commercial"
            name="JRebel"
            provider="zeroturnaround.org"
            siteUrl="http://update.zeroturnaround.com/update-site-jboss/">
            <iu id="org.zeroturnaround.eclipse.feature"/>
            <iu id="org.zeroturnaround.eclipse.wtp.feature"/>
            <iu id="org.zeroturnaround.eclipse.m2e.feature"/>
         <icon
               image32="images/jrebel_32.png">
         </icon>
         <overview
               url="http://zeroturnaround.com/software/jrebel/">
         </overview>
      </connectorDescriptor>

      <!-- d. Maven -->

      <connectorCategory
            description="Plug-ins for working with Maven"
            id="org.jboss.tools.central.discovery.d.maven"
            name="Maven"
            relevance="20">
            <!-- use groups to reorder items in a category; otherwise default to alpha order -->
         <group id="org.jboss.tools.central.discovery.d.maven.core" />
         <group id="org.jboss.tools.central.discovery.d.maven.configurators" />
         <group id="org.jboss.tools.central.discovery.d.maven.upstream" />
      </connectorCategory>

      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.d.maven"
            groupId="org.jboss.tools.central.discovery.d.maven.core"
            description="JBoss Maven Integration"
            id="org.jboss.tools.maven.feature"
            kind="task"
            license="EPL (Free)"
            name="JBoss Maven Integration"
            provider="Red Hat"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.jboss.tools.maven.feature"/>
         <icon
               image32="images/jbosstools_icon32.png">
         </icon>
         <overview
               url="http://tools.jboss.org/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.d.maven"
            groupId="org.jboss.tools.central.discovery.d.maven.configurators"
            description="JBoss Maven CDI Configurator"
            id="org.jboss.tools.maven.cdi.feature"
            kind="task"
            license="EPL (Free)"
            name="JBoss Maven CDI Configurator"
            provider="Red Hat"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.jboss.tools.maven.cdi.feature"/>
         <icon
               image32="images/jbosstools_icon32.png">
         </icon>
         <overview
               url="http://tools.jboss.org/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.d.maven"
            groupId="org.jboss.tools.central.discovery.d.maven.configurators"
            description="JBoss Maven Hibernate Configurator"
            id="org.jboss.tools.maven.hibernate.feature"
            kind="task"
            license="EPL (Free)"
            name="JBoss Maven Hibernate Configurator"
            provider="Red Hat"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.jboss.tools.maven.hibernate.feature"/>
         <icon
               image32="images/jbosstools_icon32.png">
         </icon>
         <overview
               url="http://tools.jboss.org/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.d.maven"
            groupId="org.jboss.tools.central.discovery.d.maven.configurators"
            description="Maven JAX-RS Configurator"
            id="org.jboss.tools.maven.jaxrs.feature"
            kind="task"
            license="EPL (Free)"
            name="Maven JAX-RS Configurator"
            provider="eclipse.org"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.eclipse.m2e.wtp.jaxrs.feature"/>
         <icon
               image32="images/m2e_32.gif">
         </icon>
         <overview
               url="http://tools.jboss.org/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.d.maven"
            groupId="org.jboss.tools.central.discovery.d.maven.configurators"
            description="Maven JSF Configurator"
            id="org.jboss.tools.maven.jsf.feature"
            kind="task"
            license="EPL (Free)"
            name="Maven JSF Configurator"
            provider="eclipse.org"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.eclipse.m2e.wtp.jsf.feature"/>
         <icon
               image32="images/m2e_32.gif">
         </icon>
         <overview
               url="http://tools.jboss.org/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.d.maven"
            groupId="org.jboss.tools.central.discovery.d.maven.configurators"
            description="JBoss Tools Maven Packaging Configurator"
            id="org.jboss.tools.maven.jbosspackaging.feature"
            kind="task"
            license="EPL (Free)"
            name="JBoss Tools Maven Packaging Configurator"
            provider="Red Hat"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.jboss.tools.maven.jbosspackaging.feature"/>
            <iu id="org.eclipse.m2e.feature"/>
            <iu id="org.eclipse.m2e.wtp.feature"/>
            <iu id="org.jboss.ide.eclipse.as.feature"/>
         <icon
               image32="images/jbosstools_icon32.png">
         </icon>
         <overview
               url="http://tools.jboss.org/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.d.maven"
            groupId="org.jboss.tools.central.discovery.d.maven.configurators"
            description="JBoss Maven Spring Boot Configurator"
            id="org.jboss.tools.maven.springboot.feature"
            kind="task"
            license="EPL (Free)"
            name="JBoss Maven Spring Boot Configurator"
            provider="Red Hat"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.jboss.tools.maven.seam.feature"/>
         <icon
               image32="images/jbosstools_icon32.png">
         </icon>
         <overview
               url="http://tools.jboss.org/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.d.maven"
            groupId="org.jboss.tools.central.discovery.d.maven.configurators"
            description="Maven JPA Configurator"
            id="org.jboss.tools.maven.jpa.feature"
            kind="task"
            license="EPL (Free)"
            name="Maven JPA Configurator"
            provider="eclipse.org"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.eclipse.m2e.wtp.jpa.feature"/>
         <icon
               image32="images/m2e_32.gif">
         </icon>
         <overview
               url="http://tools.jboss.org/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.d.maven"
            groupId="org.jboss.tools.central.discovery.d.maven.configurators"
            description="Tycho Project Configurators"
            id="org.sonatype.tycho.m2e.feature"
            kind="task"
            license="EPL (Free)"
            name="Tycho Project Configurators"
            provider="eclipse.org"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.sonatype.tycho.m2e.feature"/>
         <icon
               image32="images/m2e_32.gif">
         </icon>
         <overview
               url="http://www.eclipse.org/m2e/">
         </overview>
      </connectorDescriptor>

      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.d.maven"
            groupId="org.jboss.tools.central.discovery.d.maven.upstream"
            description="Maven Integration for Eclipse (m2e)"
            id="org.eclipse.m2e.feature"
            kind="task"
            license="EPL (Free)"
            name="Maven Integration for Eclipse (m2e)"
            provider="eclipse.org"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.eclipse.m2e.feature"/>
         <icon
               image32="images/m2e_32.gif">
         </icon>
         <overview
               url="http://www.eclipse.org/m2e/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.d.maven"
            groupId="org.jboss.tools.central.discovery.d.maven.upstream"
            description="Maven Integration for Eclipse JDT APT (m2e-apt)"
            id="org.jboss.tools.maven.apt.feature"
            kind="task"
            license="EPL (Free)"
            name="Maven Integration for Eclipse JDT APT (m2e-apt)"
            provider="Red Hat"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.jboss.tools.maven.apt.feature"/>
         <icon
               image32="images/m2e_32.gif">
         </icon>
         <overview
               url="https://github.com/jbosstools/m2e-apt/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.d.maven"
            groupId="org.jboss.tools.central.discovery.d.maven.upstream"
            description="Maven Integration for EGit (m2e-egit)"
            id="m2e.egit.feature"
            kind="task"
            license="EPL (Free)"
            name="Maven Integration for EGit (m2e-egit)"
            provider="eclipse.org"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.sonatype.m2e.egit.feature"/>
         <icon
               image32="images/m2e_32.gif">
         </icon>
         <overview
               url="http://wiki.eclipse.org/M2E/Extension_Development#org.sonatype.m2e.egit_and_org.sonatype.m2e.egit.tests">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.d.maven"
            groupId="org.jboss.tools.central.discovery.d.maven.upstream"
            description="Maven Integration for Web Tools (m2e-wtp)"
            id="org.maven.ide.eclipse.wtp.feature"
            kind="task"
            license="EPL (Free)"
            name="Maven Integration for Web Tools (m2e-wtp)"
            provider="eclipse.org"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.eclipse.m2e.wtp.feature"/>
         <icon
               image32="images/m2e_32.gif">
         </icon>
         <overview
               url="http://www.eclipse.org/m2e-wtp/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.d.maven"
            groupId="org.jboss.tools.central.discovery.d.maven.upstream"
            description="m2e-wro4j is an m2e connector for wro4j-maven-plugin that helps you optimize your web resources on-the-fly, in Eclipse."
            id="m2e.wro4j.feature"
            kind="task"
            license="EPL (Free)"
            name="Maven Integration for WRO4J (m2e-wro4j)"
            provider="Red Hat"
            siteUrl="${jboss.discovery.site.url}">
            <iu id="org.jboss.tools.m2e.wro4j.feature"/>
         <icon
               image32="images/m2e_32.gif">
         </icon>
         <overview
               url="https://github.com/jbosstools/m2e-wro4j">
         </overview>
      </connectorDescriptor>

      <!-- e. Code Migration -->

      <connectorCategory
            description="Plug-ins to support code migration."
            id="org.jboss.tools.central.discovery.e.migration"
            name="Code Migration"
            relevance="70">
         <group id="org.jboss.tools.central.discovery.e.migration.windup"/>
      </connectorCategory>

      <!-- RHAMT -->
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.e.migration"
            certificationId="org.jboss.tools.discovery.certification.supported"
            description="The RHAMT plug-ins simplify migrating Java applications."
            groupId="org.jboss.tools.central.discovery.e.migration.windup"
            id="org.jboss.tools.windup.feature"
            kind="task"
            license="EPL (Free)"
            name="Red Hat Application Migration Toolkit"
            provider="Red Hat"
            siteUrl="http://download.jboss.org/jbosstools/photon/stable/updates/rhamt/">
            <iu id="org.jboss.tools.windup.feature" />
         <icon image32="images/rhamt_icon_32.png"/>
         <overview url="http://windup.jboss.org/"/>
      </connectorDescriptor>

    </extension>

    <extension point="org.jboss.tools.central.proxyWizard">
      <proxyWizard
          id="fuse.integration.wizard"
          description="%fuse.integration.wizard.description"
          label="Fuse Integration Project"
          priority="3"
          iconPath="images/fuse_integration_wizard.png"
          wizardId="org.fusesource.ide.branding.wizards.FuseProjectWizard"
          requiredComponentIds="org.fusesource.ide">
      </proxyWizard>
      <proxyWizard
          id="html5.wizard"
          description="%html5.wizard.description"
          label="HTML5 Project"
          priority="1"
          iconPath="images/wizards/html5.png"
          wizardId="org.jboss.tools.central.wizards.NewHtml5ProjectWizard"
          >
      </proxyWizard>
      <proxyWizard
          id="javaee.wizard"
          description="%javaeeweb.wizard.description"
          label="Java EE Web Project"
          priority="5"
          iconPath="images/wizards/newwebprj_wiz.gif"
          wizardId="org.jboss.tools.central.wizards.NewJavaeeWarProjectWizard"
          >
      </proxyWizard>
      <proxyWizard
          id="forge.wizard"
          description="%forge.wizard.description"
          label="AngularJS Forge"
          priority="4"
          iconPath="images/wizards/jbossforge_icon_16px.png"
          wizardId="org.jboss.tools.central.wizards.NewForgeProjectWizard"
          requiredPluginIds="org.jboss.tools.forge.ui"
          requiredComponentIds="forge-tools-feature"
          >
      </proxyWizard>
      <proxyWizard
          id="openshift.wizard"
          description="%openshift.wizard.description"
          label="OpenShift Application"
          priority="2"
          iconPath="images/wizards/openshift-logo-white-icon.png"
          wizardId="org.jboss.ide.eclipse.as.openshift.express.ui.wizard.createNewApplicationWizard"
          requiredComponentIds="org.jboss.tools.openshift.feature,org.jboss.tools.openshift3">
      </proxyWizard>
      <proxyWizard
          id="maven.wizard"
          description="%maven.wizard.description"
          label="Maven Project"
          priority="5"
          iconPath="images/wizards/new_m2_project.gif"
          wizardId="org.eclipse.m2e.core.wizards.Maven2ProjectWizard"
          requiredComponentIds="org.eclipse.m2e.feature">
      </proxyWizard>
    </extension>
</plugin>
